name: CICD

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build Docker image
        run: docker build -t ashrafbilalmohaidat/cicdapplication .
      - name: Publish Docker image to Docker Hub
        run: docker push ashrafbilalmohaidat/cicdapplication:latest

  deploy:
    needs: build
    runs-on: [nodeJS]
    steps:
      - name: Pull image from Docker Hub
        run: docker pull ashrafbilalmohaidat/cicdapplication:latest
      - name: Delete old container
        run: docker rm -f cicdapplication-container
      - name: Run Docker container
        run: docker run -d -p 5000:5000 --name cicdapplication-container ashrafbilalmohaidat/cicdapplication:latest
